img {
  image-rendering: crisp-edges;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#killed {
  position: fixed;
  z-index: 2;
  background: none;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#load {
  position: fixed;
  left: 50px;
  top: 50vh;
  width: calc(100vw - 100px);
  height: 15px;
  background-color: gray;
  border: 1px solid #404040;
  -webkit-appearance: none;
  appearance: none;
  z-index: 2;
  border-radius: 2px;
}

#load::-webkit-progress-bar {
  box-shadow: 0 2px 10px #333 inset;
}

#load::-webkit-progress-value {
  background-color: #4d79ff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3) inset;
}

#load-container {
  position: fixed;
  z-index: 2;
  background: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
}


#front-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  text-align: center;
  background: white;
}

#login {
  width: 400px;
  height: 300px;
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 200px);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
}

#login .btn-group{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#chat-container {
  position: fixed;
  margin: 0;
  padding: 8px;
  z-index: 1;
  background: #222;
  resize: both;
  height: 300px;
  width: 400px;
  border: 1px solid grey;
  border-radius: 3px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#chat-container:active::-webkit-resizer {
  width: 150%;
  height: 150%;
  background: red;
}

#chat-container:hover {
  opacity: 1;
  overflow: hidden;
}

#chat-header {
  height: 20px;
  width: calc(100%);
  padding: 0;
  margin: 0;
}

#chat-header .close {
  padding: 0;
  margin: 0;
  margin-top: -5px;
  color: white;
  -webkit-user-select: none;
}

#chat-main {
  position: relative;
  width: calc(100%);
  height: calc(100% - 20px);
  border: 1px solid grey;
  border-radius: 3px;
  margin: 0;
}

#chat-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  overflow-y: scroll;
}

#chat {
  color: white;
  list-style: none;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: 0;
  margin: 0;
}

#chat .chat-msg {
  width: 100%;
  padding: 3px;
}

#chat-form {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#chat-form .input-group {
  width: 100%;
}

#chat .code {
  border: 1px solid black;
  border-radius: 5px;
  background: #333;
  padding: 15px;
  font-family: monospace;
  font-size: 11pt;
  color: white;
  margin: 5px;
  display: block;
}

.flash {
  -webkit-animation: flash 3s linear 0s 1;
}

@-webkit-keyframes flash {
  0% {background-color: rgba(0,0,0,0);}
  25% {background-color: #ff8822;}
  50% {background-color: rgba(0,0,0,0);}
  75% {background-color: #ff8822;}
  100% {background-color: rgba(0,0,0,0);}

}

#spell-editor {
  width: 100vw;
  height: 340px;
  background: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#spell-code-editor {
  width: 70%;
  height: calc(100% - 40px);
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
}

#spell-editor-log {
  width: 30%;
  height: calc(100% - 40px);
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  background: black;
  border-left: 2px solid grey;
  overflow-y: scroll;
  overflow-x: auto;
  line-height: 14px;
}

#spell-editor-log::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: none;
}

#spell-editor-log::-webkit-scrollbar-track {
  background: none;
  transition: opacity 0.3s;
}

#spell-editor-log::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background: #ccc;
  border-radius: 3px;
  /* width: 80%!important; */
  box-sizing: border-box;
}

#spell-editor-log::-webkit-scrollbar-thumb:active {
  border-radius: 0;
  border: 2px solid #ccc;
}

#spell-editor-log pre {
  min-width: 100%;
  display: inline-block;
  color: white;
  font-family: monospace;
  font-size: 12px;
  overflow-x: visible;
  padding: 0;
  line-height: 13px;
  margin: 0;
}

#spell-editor-controls {
  height: 40px;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  /* border-bottom: 1px solid black; */
}

#spell-editor-controls > * {
  display: inline-block;
  height: 40px;
  margin: 0;
  border-right: 1px solid #222;
}

#spell-editor-controls > button {
  background: #444;
  border: none;
  border-right: 1px solid #222;
  width: 40px;
  color: white;
  vertical-align: middle;
  padding-top: 5px;
}

#spell-editor-controls > button:hover {
  background-color: #555;
  font-size: 1.1em;
}

#spell-editor-logo {
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  color: grey;
}

#toggle-spell-editor {
  position: absolute;
  top: -15px;
  width: 100vw;
  height: 15px;
  background-color: #333;
  border: none;
  color: white;
  outline: none;
}

#toggle-spell-editor i {
  margin: -5px;
}

#toggle-spell-editor:hover {
  background-color: #444;
}

#toggle-spell-editor:active {
  outline: none;
}

#spell-space {
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 200px;
  transform: translate(0,-50%);
  display: block;
  background: #343434;
  border: none;
  box-shadow: inset 0 2px 5px #222;
}

#spell-space-text {
  display: none;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 200px;
  transform: translate(0,-50%);
  color: white;
  text-align: center;
  pointer-events: none;
}

#spell-space:hover~#spell-space-text {
  display: block;
}

#spell-space::-webkit-meter-even-less-good-value {
  background: #ff6666;
}

#spell-space::-webkit-meter-suboptimum-value {
  background: #ffff66;
}

#spell-space::-webkit-meter-optimum-value {
  background: #66ff66;
}

#spell-space::-webkit-meter-bar {
  background: none;
}

#spell-select {
  /* vertical-align: middle; */
  width: 204px;
  padding-left: 2px;
}

#spell-select > button {
  width: 200px;
  height: 30px;
  vertical-align: middle;
  padding-top: 2px;
}

#spell-select > button::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -150%);
}

#tutorial-container {
  position: fixed;
  margin: 0;
  padding: 8px;
  z-index: 1;
  background: #222;
  resize: both;
  height: 300px;
  width: 400px;
  border: 1px solid grey;
  border-radius: 3px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#tutorial-container:active::-webkit-resizer {
  width: 150%;
  height: 150%;
  background: red;
}

#tutorial-container:hover {
  opacity: 1;
  overflow: hidden;
}

#tutorial-header {
  height: 20px;
  width: calc(100%);
  padding: 0;
  margin: 0;
}

#tutorial-header .close {
  padding: 0;
  margin: 0;
  margin-top: -5px;
  color: white;
  -webkit-user-select: none;
}

#tutorial-title {
  width: calc(100% - 60px);
  margin: 0!important;
  display: inline-block;
  box-sizing: border-box;
  -webkit-margin-after: 0;
}

#tutorial-main {
  position: relative;
  width: calc(100%);
  height: calc(100% - 20px);
  border: 1px solid grey;
  border-radius: 3px;
  margin: 0;
  background-color: white;
}

#tutorial-tab-view,#tutorial-tab-contents {
  overflow: auto;
}

#tutorial-tab-view .code {
  border: 1px solid black;
  border-radius: 5px;
  background: #333;
  padding: 15px;
  font-family: monospace;
  font-size: 11pt;
  color: white;
  margin: 5px;
  display: block;
}

#tutorial-tabs {
  height: 42px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#tutorial-tab-view,#tutorial-tab-contents {
  width: 100%;
  height: calc(100% - 42px);
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
}

#refresh-tutorial {
  font-size: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  position: relative;
  top: -10px;
  background: none;
  border: none;
}

#refresh-tutorial .material-icons {
  font-size: 20px;
  /* font-weight: bold; */
  color: white;
}

#notifier {
  pointer-events: none;
  user-select: none;
  width: 4in;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

#notifier .alert {
  pointer-events: initial;
  word-wrap: normal;
}

#tutorial-tab-view {
  padding: 15px 0.3in 15px 0.3in;
}

#tutorial-tab-view img {
  max-width: 100%;
}

#tutorial-tab-view samp {
  background: rgb(128,128,128,0.3);
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#tutorial-tab-view .rule {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

#tutorial-tab-view .code-example {
  width: 100%;
  height: 300px;
}

blockquote {
  background: lightgrey;
  border-left: 4px grey solid;
  padding: 15px;
}
